<%- include('header'); -%>
<%- include('menu'); -%>

<div class="home">
    <h1>Login system (demo)</h1>
    <h3>a simple login system with nodejs, passport, mongoose</h3>
</div>
<%- include('footer'); -%>