<%- include('header'); -%>
<%- include('menu'); -%>

<div class="form">
    <h1>Registration</h1>
    <form action="/register" METHOD="post">
        <input class="form-control" type="text" placeholder="Username" name="username"><br>
        <input class="form-control" type="password" placeholder="Password" name="password"><br>
        <button class="btn btn-outline-light">Register</button>
    </form>
</div>
<%- include('footer'); -%>