<h1>Registration</h1>

<form action="/register" METHOD="post">
    <input type="text" placeholder="Username" name="username"><br>
    <input type="password" placeholder="Password" name="password"><br>
    <button>Submit</button>
</form>

<ul>
    <li><a href="/login">login</a></li>
</ul>